@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: floralwhite;
}

ul {
  padding: 1rem;
  margin: 0;
  list-style-type: none;
}

header {
  height: auto;
  padding: 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./img/dkwood.jpg');
  margin: 0;
  box-shadow: 0 5px 5px black;
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 3rem;
}

h3 {
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.nav-container {
  display: flex;
  display: justify-content;
}

.header-logo {
  padding: 40px;
  background: rgba(0, 0, 0, 50%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.btn-nav {
  width: 100px;
  height:40px;
  background-color:crimson;
  border: 0.08rem solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  margin: 10px 10px 0 10px;
  color:floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.btn-nav:active {
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: none;
}

.btn-nav:hover {
  cursor: default;
}

.content-container {
  margin: 0;
  display: flex;
  min-height: calc(100vh - 220px - 342px);
}

.main-container {
  margin: 0;
  background: url('./img/Sinking-Spring.jpg');
  background-size: 2560px 1440px;
  background-position: center;
  min-width: 100vw;
}

.dim-container {
  background-color: rgba(0, 0, 0, 35%);
}

.info-container {
  text-align: center;
  margin: 0;
}

#dim-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

#dimmer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color:floralwhite;
  font-weight: 800;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

footer {
  background-color: darkslategrey;
  color: floralwhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  background-color: rgba(0, 0, 0, 35%);
  border-radius: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}

#address-container li {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

#address-container > ul > li > a, #address-container > ul > li > div, address {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

#social-container li {
  display: flex;
  align-items: center;
}

#sitemap-container li {
  padding: 5px;
}

#sitemap-container ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.social-icon {
  height: 24px;
  width: 24px;
  margin: 6px;
}

/* Begin Menu Styling */

.menu-container {
  font-family: 'Roboto', sans-serif;
}

.menu-title {
  color: rgb(49, 49, 49);
  font-weight: 900;
}

.menu-title h1 {
  margin-top: 0;
  padding-top: 0.8rem;
}

.menu-subtitle h2 {
  color:rgb(61, 61, 61);
  font-weight: 500;
}

.menu-item h3 {
  color:rgb(104, 104, 104);
  font-weight: 400;
}

.menu-description h5 {
  color:rgb(129, 129, 129);
  font-weight: 300;
}

.menu-price h3 {
  color: rgb(61, 61, 61);
  font-weight: 400;
}

.menu-card-container {
  display: flex;
  justify-content: space-around;
}

.menu-card {
  width: clamp(150px, 22%, 350px);
  height: clamp(200px, 25%, 350px);
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

/* Begin Specials Styling */

.lunch-spec-container {
  padding-bottom: 2rem;
}

.mon-spec-container {
  background-color: rgba(235, 235, 235, 50%);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.tue-spec-container {
  padding-bottom: 2rem;
}

.wed-spec-container {
  background-color: rgba(235, 235, 235, 50%);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.thur-spec-container {
  padding-bottom: 2rem;
}

.we-spec-container {
  background-color: rgba(235, 235, 235, 50%);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.specials-container
{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.spec-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.spec-card {
  border: 1px solid black;
  border-radius: 15px;
  width: 250px;
  text-align: center;
}

.spec-card img{
  border-radius: 10px;
  box-shadow: 0 0 4px black;
  margin: 1rem;
}

.spec-card h4{
  font-size: 1rem;
  font-weight: 400;
  margin: 0.2rem;
}

.spec-card h5 {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Begin Gift Cards Styling */
.gc-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: calc(100vh - 220px - 342px);
  min-width: 100vw;
  justify-content: center;
}

.gc-container-2 {
  max-width: 640px;
}

.gc-form {
  display: flex;
  justify-content: center;
  width: 640px;
}

.gc-form-2 {
  width: 640px;
}

#gc-number, .gc-form-2>label {
  width: 600px;
  margin: 20px;
}

#gc-number {
  font-size: 2rem;
}

.gc-form-2>button {
  margin: 1rem 1rem 1rem auto;
  height: 2rem;
  width: 6rem;
  float: right;
}
